/.idea
/Logs
/cmd/client_youtube/output
/cmd/client_youtube/Logs
/cmd/client_youtube/*.exe
/cmd/client_youtube/LiSA - 紅蓮華 - THE FIRST TAKE/*.mp4
/cmd/client_youtube/ffmpeg_cache/
/cmd/client_youtube/LiSA - 紅蓮華 - THE FIRST TAKE/downloaded
/cmd/client_youtube/etc/client_youtube.yaml
/cmd/client_youtube/cache
/cmd/client_youtube/*.json
/cmd/client_base/etc/client_base.yaml
/cmd/client_base/*.exe
/cmd/client_base/etc/config.yaml
/cmd/client_base/Logs/*.log
/cmd/client_base/cache
/ffmpeg_cache/
/cmd/self_tanslation/Logs
